.disabled {
  display: none !important;
}
.enabled {
  display: block !important;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1f2f22;
  cursor: pointer;
  z-index: 1000000;
}



.signin-forgot-pass {
  position: absolute;
  top: 245px;
  right: 76px;
}
